* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  background-color: #00545f;
  animation-name: backgroundChange;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: both;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
